@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
}

app-root {
  display: block;
  height: 100%;
}

body {

  margin: 0;

  font-family:
    Inter,
    sans-serif;

  background-color: #F7FAF8;

  color: #374151;
}

/* Scroll elegante */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #F1F5F3;
}

::-webkit-scrollbar-thumb {
  background: #C7D2CC;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94A3B8;
}